# https://docs.github.com/code-security/dependabot/working-with-dependabot/dependabot-options-reference
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 3
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "10:00"
      timezone: "Asia/Tokyo"
    cooldown:
      default-days: 5
      include:
        - '*'

  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "10:00"
      timezone: "Asia/Tokyo"
    cooldown:
      default-days: 5
      semver-patch-days: 3
      semver-minor-days: 7
      semver-major-days: 15
      include:
        - '*'
    # ignore:
    #   - dependency-name: "*"
    #     update-types: ["version-update:semver-major"]
    groups:
      next:
        update-types: ["minor", "patch", "major"]
        patterns:
          - "next"
          - "@next/*"
      storybook:
        update-types: ["minor", "patch", "major"]
        patterns:
          - "storybook"
          - "@storybook/*"
      react:
        update-types: ["minor", "patch", "major"]
        patterns:
          - "react"
          - "react-dom"
          - "@types/react*"
      eslint:
        update-types: ["minor", "patch", "major"]
        patterns:
          - "eslint"
          - "typescript-eslint"
          - "@eslint/*"
          - "*eslint-plugin*"
          - "*eslint-config*"
      stylelint:
        update-types: ["minor", "patch", "major"]
        patterns:
          - "stylelint"
          - "stylelint-scss"
          - "*stylelint-config*"
      prettier:
        update-types: ["minor", "patch", "major"]
        patterns:
          - "prettier"
          - "*prettier-plugin*"
      deps:
        dependency-type: "production"
        update-types: ["minor", "patch"]
        patterns:
          - "*"
      dev-deps:
        dependency-type: "development"
        update-types: ["minor", "patch"]
        patterns:
          - "*"
