name: Test
on:
  pull_request:
    branches:
      - main
      - develop
    paths:
      - "src/**"
      - "test/**"
      - "*config.*"
      - "package.json"
      - "pnpm-lock.yaml"
      - ".github/workflows/test.yml"

jobs:
  vitest:
    name: Vitest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Enable Corepack
        run: |
          npm i -g corepack@latest
          corepack enable

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Run Vitest tests
        run: pnpm vitest --watch=false
